<div class="header-container">
    <div class="header-img">
        <a href="startseite.html"><img id="header-logo" class="header-logo img-links" src="img/logo.png"></a>
    </div>
    <div class="header-nav">
        <a href="startseite.html">Start</a>
        <a class="text-height" href="bolognese.html">Rezept des Tages</a>
        <a href="kontakt.html">Kontakt</a>
        <a href="impressum.html">Impressum</a>
    </div>
    <a onclick="showMenu()" class="burger-link"><img class="burger" src="img/icons/menu-4-24.png"></a>
</div>